* {
    box-sizing: border-box;
}

nav {
    display: flex;
    background-color: gray;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;
}

.navlogo {
    height: 100px;
    width: 84px;
}

ul {
    position: absolute;
    list-style-type: none;
    right: 0;
    bottom: 0;
    display: flex;
}

li {
    margin-right: 10px;
}

p {
    max-width: 50%;
}

.screenshot{
    margin-bottom: 10px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    background-color: lightgray;
}

.aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgray;
}

.mywork {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
}

.contactme {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgray;
}

.tech {
    margin: 10px;
}

.buttons{
    display: flex;
}


.imglink{
    height: 150px;
    width: 150px;
    margin-top: 10px;
}

